# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/cmake-build-debug
/Labs 2 Sem/lab1/.idea

/Labs 2 Sem/lab2/.idea
/Labs 2 Sem/lab2/cmake-build-debug/

/Labs 2 Sem/lab3/.idea

/Labs 3 Sem/lab1/.idea/
/Labs 3 Sem/lab1/cmake-build-debug/
/Labs 3 Sem/lab2/.idea/
/Labs 3 Sem/lab2/cmake-build-debug/
/Labs 3 Sem/lab3/.idea/
/Labs 3 Sem/lab3/cmake-build-debug/